@import '../../Components/Utils/colors.scss';
@import '../../Components/Utils/heading.scss';


// colors
$primary: #1d8cf8;
$secondary: #4f537b;
$info: #11cdef;
$success: #00bf9a;
$warning: #ff8d72;
$danger: #fd5d93;

// timeline variables
$body-bg: #1e1e2f;
$timeline-before-bg : #222a42;
$timeline-body-bg: #27293d;
$timeline-body-round: 3px;
$timeline-body-shadow: 1px 3px 9px rgba(0,0,0, .1);

body {
    font-family: 'K2D', sans-serif;
    letter-spacing: 1px;
}

.resume{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0px 30px 0px 0px;
}

.timeline .timeline-container .timeline-icon:hover {
    background-color: $btn-color;
    cursor: pointer;
}

// page container
.container {
    max-width: 450px;
}



// timeline style
.timeline {
    position: relative;
    padding-left: 4rem;
    margin: 0 0 0 30px;
    color: $btn-color;

    .badge{
        font-size: 25px;
    }
    .year{
        font-size: 18px;
        color: gray;
    }
    .college{
        font-size: 25px;
        color: $font-color;
        text-wrap: wrap;
    }
        // typography
    p {
        font-weight: 300;
        line-height: 1.5;
        font-size: 15px;
        opacity: .8;
        color: $font-color;
    }

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 4px;
        height: 100%;
        background: $card-color;
    }

    .timeline-container {
        position: relative;
        margin-bottom: 2.5rem;;

        .timeline-icon {
            position: absolute;
            left: -68px;
            top: 4px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            text-align: center;
            font-size: 2rem;
            background: $secondary;
            transition: .5s all;
            i {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}


.author{
	font-family: inherit;
	padding: 3em;
	text-align: center;
	width: 100%;
	color: white;
 
	a:link,
	a:visited{
		color: white;
		&:hover{
			text-decoration: none;
		}
	}
	.btn:link,
	.btn:visited{
		margin-top: 1em;
		text-decoration: none;
		display: inline-block;
		font-family: inherit;
		font-weight: 100;
		color: white;
		text-align: center;
		vertical-align: middle;
		user-select: none;
		background-color: black;
		padding: 1.5em 2rem;
		border-radius: 1em;
		transition: .5s all;
		&:hover,
		&:focus,
		&:active{
			background-color: lighten(black, 10%);
		}
	}
}